.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
 }

 #footerText {
    margin-bottom: 0;
 }

 .navbar navbar-inverse {
     background: lavender;
 }

/* neuer style */

.table, progressBar {
    width: fit-content;
    margin: auto;
}	

.lightgray {
    color: lightgray;
}

.forestgreen {
    color: forestgreen;
    font-weight: bold;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#course {
    color: red;
}
    
.mainHeading {
    margin-top: 6rem
}

.blank {
    height: 10vw;
}

.randGen  {
    background: white;
}

@media screen and (max-width: 308px) {
    body {
      background-color: pink;
    }
  }
  
 .form-floating {
 
 }

.bottom-label{
    color: red;
}

.bottom-label2{
    color: red;
}

.firstName {
    background: red;
}






